<div class="center jumbotron">
  <h1>Welcome to the ReefTank APP</h1>
  <div id="cur_temp">
    <p>Current Temperature: <%=@sensor_value.value%>°F</p>
    <p>Last Updated: <%=@sensor_value.created_at.strftime("%m/%d/%Y %-I:%M%p")%></p>
  </div>
  <%= link_to "Documentation & Setup", welcome_documentation_path, class: "btn btn-default" %>
</div>
<% Sensor.all.where("user_id = 2").each do |sensor| %>
   <h2 class="center"><%= sensor.name %></h2>
   <%= line_chart sensor.sensor_values.group_by_day(:date, current: false ).average('value') %>
 <%end%>
