<div class="center jumbotron">
  <h1>Welcome to the ReefTank APP</h1>
  <p>Checkout my tanks temperature</p>
  <% if logged_in?%>
    <%=link_to "Create Custom Reading", new_sensor_value_path, class: "btn btn-default"%>
  <%end%>
</div>

<table class="table">
  <tr>
    <th> Temp </th>
    <th> Sensor</th>
    <th> Date </th>
  </tr>

<% @sensor_values.each do |s| %>
 <% sensor = Sensor.find(s.sensor_id)%>
 <tr>
   <td><%= s.value %></td>
   <td><%= sensor.name%></td>
   <td><%= s.date.strftime("%m/%d/%Y")%> </td>
   <% if logged_in?%>
    <td><%= link_to 'Delete', sensor_value_path(s), method: :delete, data: { confirm: 'Are you sure?' } %></td> </tr>
   <%end%>
 <%end%>
</table>
